<h1 class="title animated jackInTheBox">Lista de Tarefas</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p class="text-center" *ngIf="todos.length==0"><small>Você não tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let todo of todos">
    {{ todo.title }}
    <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
  </li>
</ul>

<!-- Importações
() = HTML > TS
[] = TS > HTML
[()] = TS <> HTML 
-->
<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
<form [formGroup]="form">
  <fieldset>
  <h1 class="NovaTarefa">Nova Tarefa</h1>
    <label>Tarefa:</label>
    <input type="text"
      placeholder="Titulo da Tarefa"
      maxLength="60"
      formControlName="title">
    <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">Este Campo deve conter entre 3 e 60 caracteres</small>
   <p class="text-center">
    <button [disabled]="form.invalid" (click)="add()" class="button"><i class="far fa-save"></i> Salvar</button></p>
  </fieldset>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
<footer>Feito por Ricardo A. Costa</footer>
<a href="https://github.com/ricardoazcosta" target="_blank" ><img src="../assets/github-brands.svg" alt=""></a>
<a href="https://linkedin.com/in/ricardo-alexandre-costa1985" target="_blank" ><img src="../assets/linkedin-in-brands.svg" alt=""></a>


